@import 'nib'
body 
  margin 0 auto
  color khaki
  background rgb(47,79,79)
  -webkit-font-smoothing antialiased
a 
  text-decoration none

h1
  font-size 40px
  font-family 'Pacifico', cursive
  text-align center
p 
  padding .5em
  font-family 'Snippet', sans-serif
  text-align justify
  margin-bottom 20px
  font-size 26px
  line-height 2

.main_h 
  position fixed
  top 0px
  max-height 70px
  z-index 999
  width 100%
  padding-top 17px
  background rgb(47,79,79)
  overflow hidden
  padding-bottom 6px
 

  
.open-nav 
  max-height 400px !important
.open-nav .mobile-toggle 
  transform rotate(-90deg)
.sticky 
  background sienna
  opacity 1
  top 0px
  border-bottom 1px solid gainsboro


/*Logo que lleva al inicio*/
.logo  
  font-family 'Pacifico', cursive
  width 50px
  font-size 45px
  color khaki
  float left
  display block
  margin-top 0
  line-height 1
  margin-bottom 10px

/*Ancho menu links*/
nav 
  float right
  width 80%

nav ul 
  list-style none
  overflow hidden
  text-align right
  float right

nav ul li 
  display inline-block
  margin-left 35px
  line-height 1.5


/*Texto del menu*/
nav ul a 
  font-family 'Snippet', sans-serif
  color white
  border-bottom 2px solid #e8f380
  padding 2px
  font-size 22px
  border-radius 3px
  &:hover
    border 2px solid #e8f380


.mobile-toggle 
  display none
  cursor pointer
  font-size 20px
  position absolute
  right 22px
  top 0
  width 30px


.mobile-toggle span 
  width 35px
  height 5px
  margin-bottom 6px
  border-radius 1000px
  background salmon
  display block


.row 
  width 100%
  max-width 940px
  margin 0 auto
  position relative
  padding 0 3%



.content 
  padding 50px 2% 250px

//Inicio 
.hero 
  position relative
 
  background-image url('../img/tec1.jpg') 
  text-align center
  color #fff
  padding-top 48px
  min-height 480px
  letter-spacing 2px
  


//Letras under en el inicio
.hero h1 
  font-size 60px
  line-height 1.3
  font-family 'Pacifico', cursive
  height 480px
  background radial-gradient(circle, rgba(0,255,127, .55), rgba(46,39,87, .75))
//Letras amarillas top en el inicio
.hero h1 span 
  margin-top 300px
  font-size 65px
  color tomato
  font-family 'Snippet', sans-serif
  border-bottom 2px solid #e8f380
  padding-bottom 4px
  line-height 3

//Flecha con borde (sin)
.mouse 
  font-family 'Snippet', sans-serif
  font-size 20px
  font-weight bold
  color crimson
  display block

  width 96px
  height 76px
  border-radius 13px
  position absolute
  bottom 30px
  left 47%
  margin-bottom 0px
  margin-left -16px
.mouse span 
  font-weight bold
  font-size 60px
  display block
  
  text-align center
  border 1px solid transparent
  animation-duration 1s
  animation-fill-mode both
  animation-iteration-count infinite
  animation-name scroll


//Animacion de la flecha
@keyframes scroll 
  0% 
    opacity 1
    transform translateY(0)
  100% 
    opacity 0
    transform translateY(20px) cale(1.2, 1.2)
  


/*Bien*/
@media only screen and (max-width: 766px) 
  .main_h 
    padding-top 25px

  .logo 
    float none

  nav 
    margin 10px auto
    width 100%
  nav ul 
   
    padding-top 10px
    margin 10px auto
    float left
    text-align center
    width 100%
  nav ul li 
    width 100%
    padding 7px 0
    margin 0
  
  .mobile-toggle 
    display block
    margin-right 20px
  
 
  //Letras under en el inicio
  .hero h1 
    font-size 40px
    line-height 1.3
    font-family 'Pacifico', cursive
    height 480px
    background radial-gradient(circle, rgba(0,255,127, .55), rgba(46,39,87, .75))
  //Letras amarillas top en el inicio
  .hero h1 span 
    margin-top 100px
    font-size 45px
    color tomato
    font-family 'Snippet', sans-serif
    border-bottom 2px solid #e8f380
    padding-bottom 4px
    line-height 3

    
    
  